[submodule "prezto"]
	path = prezto
	url = git@github.com:xiaoxinghu/prezto.git
	branch = master
[submodule "prelude"]
	path = prelude
	url = git@github.com:xiaoxinghu/prelude.git
	branch = master
[submodule "atom"]
	path = atom
	url = git@github.com:xiaoxinghu/atom.git
	branch = master
[submodule "spacemacs"]
	path = spacemacs
	url = git@github.com:xiaoxinghu/spacemacs.git
	branch = master
