<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>abbreviationHabits</key>
	<dict>
		<key>1</key>
		<dict>
			<key>ODLBPathItem:/Applications/1Password 7.app</key>
			<integer>2</integer>
		</dict>
		<key>1pa</key>
		<dict>
			<key>ODLBPathItem:/Applications/1Password 7.app</key>
			<integer>3</integer>
			<key>ODLBRuleItem:ODLBOnePasswordRule</key>
			<integer>1</integer>
		</dict>
		<key>1pas</key>
		<dict>
			<key>ODLBPathItem:/Applications/1Password 6.app</key>
			<integer>2</integer>
		</dict>
		<key>1pass</key>
		<dict>
			<key>ODLBPathItem:/Applications/1Password 7.app</key>
			<integer>1</integer>
			<key>ODLBRuleItem:ODLBOnePasswordRule</key>
			<integer>3</integer>
		</dict>
		<key>cal</key>
		<dict>
			<key>ODLBPathItem:/Applications/Calculator.app</key>
			<integer>1</integer>
			<key>ODLBPathItem:/Applications/Calendar.app</key>
			<integer>3</integer>
		</dict>
		<key>ch</key>
		<dict>
			<key>ODLBPathItem:/Applications/Google Chrome.app</key>
			<integer>3</integer>
			<key>ODLBPathItem:/Applications/Setapp/Paste.app</key>
			<integer>1</integer>
		</dict>
		<key>chr</key>
		<dict>
			<key>ODLBPathItem:/Applications/Google Chrome.app</key>
			<integer>2</integer>
		</dict>
		<key>chro</key>
		<dict>
			<key>ODLBPathItem:/Applications/Google Chrome.app</key>
			<integer>2</integer>
		</dict>
		<key>cli</key>
		<dict>
			<key>ODLBClipboardHistoryAction</key>
			<integer>1</integer>
		</dict>
		<key>clip</key>
		<dict>
			<key>ODLBClipboardHistoryAction</key>
			<integer>2</integer>
		</dict>
		<key>code</key>
		<dict>
			<key>ODLBPathItem:/Applications/Visual Studio Code.app</key>
			<integer>1</integer>
		</dict>
		<key>d</key>
		<dict>
			<key>ODLBPathItem:/Applications/Dash.app</key>
			<integer>2</integer>
		</dict>
		<key>dah</key>
		<dict>
			<key>ODLBPathItem:/Applications/Dash.app</key>
			<integer>1</integer>
		</dict>
		<key>dash</key>
		<dict>
			<key>ODLBPathItem:/Applications/Dash.app</key>
			<integer>2</integer>
		</dict>
		<key>dis</key>
		<dict>
			<key>ODLBPathItem:/Applications/Utilities/Disk Utility.app</key>
			<integer>1</integer>
		</dict>
		<key>docker</key>
		<dict>
			<key>ODLBPathItem:/Applications/Docker.app</key>
			<integer>2</integer>
		</dict>
		<key>dsa</key>
		<dict>
			<key>ODLBPathItem:/Applications/App Store.app</key>
			<integer>1</integer>
		</dict>
		<key>em</key>
		<dict>
			<key>ODLBPathItem:/Applications/McAfee Endpoint Security for Mac.app</key>
			<integer>1</integer>
		</dict>
		<key>ema</key>
		<dict>
			<key>ODLBPathItem:/Applications/Emacs.app</key>
			<integer>2</integer>
		</dict>
		<key>emac</key>
		<dict>
			<key>ODLBPathItem:/Applications/Emacs.app</key>
			<integer>2</integer>
		</dict>
		<key>emacs</key>
		<dict>
			<key>ODLBPathItem:/Applications/Emacs.app</key>
			<integer>2</integer>
		</dict>
		<key>emoj</key>
		<dict>
			<key>ODLBEmojiItem:👻</key>
			<integer>1</integer>
		</dict>
		<key>emoji</key>
		<dict>
			<key>ODLBRuleItem:ODLBEmojiRule</key>
			<integer>1</integer>
		</dict>
		<key>ess</key>
		<dict>
			<key>ODLBPathItem:/Applications/Setapp/IconJar.app</key>
			<integer>1</integer>
		</dict>
		<key>fin</key>
		<dict>
			<key>ODLBPathItem:/System/Library/CoreServices/Finder.app</key>
			<integer>1</integer>
		</dict>
		<key>find</key>
		<dict>
			<key>ODLBPathItem:/System/Library/CoreServices/Finder.app</key>
			<integer>2</integer>
		</dict>
		<key>finder</key>
		<dict>
			<key>ODLBPathItem:/System/Library/CoreServices/Finder.app</key>
			<integer>2</integer>
		</dict>
		<key>g</key>
		<dict>
			<key>ODLBOnePasswordCategory:001</key>
			<integer>1</integer>
		</dict>
		<key>gho</key>
		<dict>
			<key>ODLBEmojiItem:👻</key>
			<integer>1</integer>
		</dict>
		<key>ghost</key>
		<dict>
			<key>ODLBEmojiItem:👻</key>
			<integer>1</integer>
		</dict>
		<key>googl</key>
		<dict>
			<key>ODLBPathItem:/Applications/Google Chrome.app</key>
			<integer>1</integer>
		</dict>
		<key>google</key>
		<dict>
			<key>ODLBBookmarkGroup:197BD0B1-6635-4CD0-B19B-F3FD97E71519</key>
			<integer>2</integer>
			<key>ODLBOnePasswordItem:24famzjq6fe5ndt3xbtvrm35eq</key>
			<integer>1</integer>
			<key>ODLBSearchGoogleAction</key>
			<integer>4</integer>
		</dict>
		<key>googletrans</key>
		<dict>
			<key>ODLBURLItem:https://translate.google.com/</key>
			<integer>1</integer>
		</dict>
		<key>gra</key>
		<dict>
			<key>ODLBPathItem:/Applications/OmniGraffle.app</key>
			<integer>1</integer>
		</dict>
		<key>ka</key>
		<dict>
			<key>ODLBPathItem:/Applications/Kaleidoscope.app</key>
			<integer>1</integer>
		</dict>
		<key>key</key>
		<dict>
			<key>ODLBPathItem:/Applications/Utilities/Keychain Access.app</key>
			<integer>1</integer>
		</dict>
		<key>launch</key>
		<dict>
			<key>ODLBPathItem:@</key>
			<integer>1</integer>
		</dict>
		<key>lodash</key>
		<dict>
			<key>ODLBServiceItem:com.kapeli.dashdoc - Look Up in Dash</key>
			<integer>1</integer>
		</dict>
		<key>mai</key>
		<dict>
			<key>ODLBPathItem:/Applications/Mail.app</key>
			<integer>1</integer>
		</dict>
		<key>mes</key>
		<dict>
			<key>ODLBPathItem:/Applications/Messages.app</key>
			<integer>2</integer>
		</dict>
		<key>mess</key>
		<dict>
			<key>ODLBPathItem:/Applications/Messages.app</key>
			<integer>2</integer>
		</dict>
		<key>moi</key>
		<dict>
			<key>ODLBPathItem:/Applications/Utilities/Activity Monitor.app</key>
			<integer>1</integer>
		</dict>
		<key>mon</key>
		<dict>
			<key>ODLBPathItem:/Applications/Utilities/Activity Monitor.app</key>
			<integer>2</integer>
		</dict>
		<key>moni</key>
		<dict>
			<key>ODLBPathItem:/Applications/Utilities/Activity Monitor.app</key>
			<integer>3</integer>
			<key>ODLBServiceItem:com.apple.dt.Instruments - Activity Monitor</key>
			<integer>1</integer>
		</dict>
		<key>omi</key>
		<dict>
			<key>ODLBPathItem:/Applications/OmniFocus.app</key>
			<integer>1</integer>
		</dict>
		<key>omn</key>
		<dict>
			<key>ODLBPathItem:/Applications/OmniFocus.app</key>
			<integer>1</integer>
		</dict>
		<key>out</key>
		<dict>
			<key>ODLBPathItem:/Applications/Microsoft Outlook.app</key>
			<integer>2</integer>
		</dict>
		<key>ro</key>
		<dict>
			<key>ODLBPathItem:/Applications/Rocket.app</key>
			<integer>1</integer>
		</dict>
		<key>s</key>
		<dict>
			<key>ODLBEmojiCategory:EMFEmojiCategoryPeople</key>
			<integer>1</integer>
		</dict>
		<key>sa</key>
		<dict>
			<key>ODLBPathItem:/Applications/Safari.app</key>
			<integer>1</integer>
		</dict>
		<key>searc</key>
		<dict>
			<key>ODLBSearchDictCCAction</key>
			<integer>1</integer>
		</dict>
		<key>set</key>
		<dict>
			<key>ODLBPathItem:/Applications/Setapp.app</key>
			<integer>1</integer>
		</dict>
		<key>sip</key>
		<dict>
			<key>ODLBPathItem:/Applications/Setapp/Sip.app</key>
			<integer>1</integer>
		</dict>
		<key>siri</key>
		<dict>
			<key>ODLBPathItem:/Applications/Siri.app</key>
			<integer>1</integer>
		</dict>
		<key>sk</key>
		<dict>
			<key>ODLBPathItem:/Applications/Sketch.app</key>
			<integer>1</integer>
			<key>ODLBPathItem:/Applications/Skype.app</key>
			<integer>2</integer>
		</dict>
		<key>ske</key>
		<dict>
			<key>ODLBPathItem:/Applications/Sketch.app</key>
			<integer>1</integer>
		</dict>
		<key>sky</key>
		<dict>
			<key>ODLBPathItem:/Applications/Skype.app</key>
			<integer>2</integer>
		</dict>
		<key>sla</key>
		<dict>
			<key>ODLBPathItem:/Applications/Slack.app</key>
			<integer>1</integer>
		</dict>
		<key>slac</key>
		<dict>
			<key>ODLBPathItem:/Applications/Slack.app</key>
			<integer>1</integer>
		</dict>
		<key>slack</key>
		<dict>
			<key>ODLBPathItem:/Applications/Slack.app</key>
			<integer>2</integer>
		</dict>
		<key>spark</key>
		<dict>
			<key>ODLBPathItem:/Applications/Spark.app</key>
			<integer>2</integer>
		</dict>
		<key>spi</key>
		<dict>
			<key>ODLBPathItem:/Applications/Spillo.app</key>
			<integer>2</integer>
		</dict>
		<key>sys</key>
		<dict>
			<key>ODLBPathItem:/Applications/System Preferences.app</key>
			<integer>1</integer>
		</dict>
		<key>sysm</key>
		<dict>
			<key>ODLBPathItem:/Applications/System Preferences.app</key>
			<integer>1</integer>
		</dict>
		<key>t</key>
		<dict>
			<key>ODLBPathItem:/Applications/Tower.app</key>
			<integer>1</integer>
		</dict>
		<key>te_</key>
		<dict>
			<key>ODLBPathItem:~/Documents/te_tests.pdf</key>
			<integer>1</integer>
		</dict>
		<key>team</key>
		<dict>
			<key>ODLBPathItem:/Applications/Microsoft Teams.app</key>
			<integer>2</integer>
		</dict>
		<key>thing</key>
		<dict>
			<key>ODLBPathItem:/Applications/Things3.app</key>
			<integer>1</integer>
		</dict>
		<key>tow</key>
		<dict>
			<key>ODLBPathItem:/Applications/Tower.app</key>
			<integer>2</integer>
		</dict>
		<key>tower</key>
		<dict>
			<key>ODLBPathItem:/Applications/Tower.app</key>
			<integer>1</integer>
		</dict>
		<key>tw</key>
		<dict>
			<key>ODLBPathItem:/Applications/Tower.app</key>
			<integer>2</integer>
			<key>ODLBPathItem:/Applications/Tweetbot.app</key>
			<integer>1</integer>
		</dict>
		<key>visu</key>
		<dict>
			<key>ODLBPathItem:/Applications/Visual Studio Code.app</key>
			<integer>1</integer>
		</dict>
		<key>wall</key>
		<dict>
			<key>ODLBPathItem:/Applications/Setapp/Wallpaper Wizard.app</key>
			<integer>1</integer>
		</dict>
		<key>xc</key>
		<dict>
			<key>ODLBPathItem:/Applications/Xcode-beta.app</key>
			<integer>1</integer>
		</dict>
		<key>xco</key>
		<dict>
			<key>ODLBPathItem:/Applications/Xcode-beta.app</key>
			<integer>3</integer>
			<key>ODLBPathItem:/Applications/Xcode.app</key>
			<integer>1</integer>
		</dict>
		<key>xcode</key>
		<dict>
			<key>ODLBPathItem:/Applications/Xcode-beta.app</key>
			<integer>3</integer>
			<key>ODLBPathItem:/Applications/Xcode.app</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>accessCountStartTimestamp</key>
	<real>545781493.47589195</real>
	<key>accessCounts</key>
	<dict>
		<key>Actions</key>
		<integer>8</integer>
		<key>Browsing</key>
		<integer>4</integer>
		<key>ClipboardHistory</key>
		<integer>9</integer>
		<key>Emoji</key>
		<integer>7</integer>
		<key>FullIndexSearch</key>
		<integer>301</integer>
		<key>InfoBrowsing</key>
		<integer>3</integer>
		<key>LaunchingApplications</key>
		<integer>278</integer>
		<key>OpeningDocuments</key>
		<integer>4</integer>
		<key>SendTo</key>
		<integer>4</integer>
		<key>Services</key>
		<integer>2</integer>
		<key>Subsearch</key>
		<integer>10</integer>
		<key>ThirdParty</key>
		<integer>15</integer>
		<key>WebBookmarks</key>
		<integer>1</integer>
	</dict>
	<key>invocationStartTimestamp</key>
	<real>545781493.47589195</real>
	<key>invocationTimestamps</key>
	<array>
		<real>583280316.35531998</real>
		<real>583280596.52908897</real>
		<real>583280615.30524802</real>
		<real>583281450.44610202</real>
		<real>583281500.91503406</real>
		<real>583282019.85816896</real>
		<real>583282370.65064704</real>
		<real>583282414.26708996</real>
		<real>583285957.32936096</real>
		<real>583286108.02389205</real>
		<real>583286786.94351304</real>
		<real>583287329.41665602</real>
		<real>583293480.36293495</real>
		<real>583294797.176736</real>
		<real>583297808.49243605</real>
		<real>583298124.23095202</real>
		<real>583298746.93294001</real>
		<real>583299214.65729797</real>
		<real>583299319.76767397</real>
		<real>583299377.074</real>
		<real>583299383.67812502</real>
		<real>583299412.87175202</real>
		<real>583299420.07182002</real>
		<real>583299435.66437995</real>
		<real>583299459.674564</real>
		<real>583299471.980353</real>
		<real>583366422.14460194</real>
		<real>583366435.55165195</real>
		<real>583366443.07734895</real>
		<real>583366464.57646501</real>
		<real>583366847.968135</real>
		<real>583366888.65961003</real>
		<real>583369788.00537002</real>
		<real>583369792.89782703</real>
		<real>583370753.93708599</real>
		<real>583370774.51450896</real>
		<real>583373185.06071997</real>
		<real>583378719.135746</real>
		<real>583378738.53086603</real>
		<real>583383164.78028798</real>
		<real>583383862.46316099</real>
		<real>583384368.60052598</real>
		<real>583384374.59411204</real>
		<real>583388621.26125503</real>
		<real>583711637.67982101</real>
		<real>583711979.34928405</real>
		<real>583715662.33653605</real>
		<real>583722984.93446898</real>
		<real>583723880.78583205</real>
		<real>583726491.48446703</real>
		<real>583728512.61593997</real>
		<real>583730541.13819802</real>
		<real>583730962.58868301</real>
		<real>583730973.92208695</real>
		<real>583797703.63082397</real>
		<real>583798105.20525301</real>
		<real>583798260.31420195</real>
		<real>583803223.84867799</real>
		<real>583803934.25078297</real>
		<real>583811154.97517097</real>
		<real>583811456.91770804</real>
		<real>583811677.54100096</real>
		<real>583813772.40989494</real>
		<real>583813775.76223397</real>
		<real>583813905.55422997</real>
		<real>583815325.31546795</real>
		<real>583815419.14160299</real>
		<real>583815421.886621</real>
		<real>583815857.29920101</real>
		<real>583816463.27430999</real>
		<real>583822165.54897106</real>
		<real>583884762.649966</real>
		<real>583884957.13608205</real>
		<real>583884992.787431</real>
		<real>583885575.50211</real>
		<real>583885792.66976297</real>
		<real>583888310.79373503</real>
		<real>583888318.46363103</real>
		<real>583889621.48318696</real>
		<real>583890388.32305706</real>
		<real>583891284.78886402</real>
		<real>583894624.08875895</real>
		<real>583894684.96211398</real>
		<real>583895255.40154696</real>
		<real>583900200.08044004</real>
		<real>583903960.58744597</real>
		<real>583971201.54578102</real>
		<real>583971251.91266406</real>
		<real>583971980.58650601</real>
		<real>583972384.66044402</real>
		<real>583972816.54419196</real>
		<real>583973076.28327298</real>
		<real>583973536.30879498</real>
		<real>583973623.514943</real>
		<real>583975213.92962003</real>
		<real>583978639.69461501</real>
		<real>583979196.43014002</real>
		<real>583988328.55692899</real>
		<real>583989396.29835904</real>
		<real>583989934.38070297</real>
		<real>583992504.75574696</real>
		<real>584319866.76369596</real>
		<real>584319916.689991</real>
		<real>584319956.47125494</real>
		<real>584322868.56801605</real>
		<real>584341477.18274796</real>
		<real>584341567.66746199</real>
		<real>584348558.83780706</real>
		<real>584348955.92135894</real>
		<real>584349289.945557</real>
		<real>584358776.948524</real>
		<real>584437489.75676405</real>
		<real>584438918.02818501</real>
		<real>584612263.19312799</real>
		<real>584612282.104931</real>
		<real>584697157.09109902</real>
		<real>584701888.33693004</real>
		<real>584760168.73520398</real>
		<real>584760363.65451396</real>
		<real>584760493.20715797</real>
		<real>584760842.51649702</real>
		<real>584762184.20279098</real>
		<real>584781298.91459799</real>
		<real>584792997.68263805</real>
		<real>584868339.98236704</real>
		<real>585057102.41939497</real>
		<real>585057120.24075794</real>
		<real>585129284.37136805</real>
		<real>585129320.22612095</real>
		<real>585130206.503842</real>
		<real>585130859.72068501</real>
		<real>585179917.80580497</real>
		<real>585181662.68400502</real>
		<real>585181803.44004703</real>
		<real>585181933.66362405</real>
		<real>585183787.29730594</real>
		<real>585190358.73851001</real>
		<real>585190651.03359199</real>
		<real>585191746.089185</real>
		<real>585193423.04186499</real>
		<real>585193622.96707201</real>
		<real>585199101.92835605</real>
		<real>585199192.935884</real>
		<real>585199246.51765704</real>
		<real>585201973.67412603</real>
		<real>585201976.06943905</real>
		<real>585202006.015311</real>
		<real>585202241.87943196</real>
		<real>585202337.81670403</real>
		<real>585203186.04186404</real>
		<real>585204540.85404599</real>
		<real>585204603.45098901</real>
		<real>585205697.29917002</real>
		<real>585206459.16421199</real>
		<real>585214819.06189895</real>
		<real>585215762.70729101</real>
		<real>585375991.81297398</real>
		<real>585376002.12750196</real>
		<real>585379409.21701896</real>
		<real>585381495.06383097</real>
		<real>585724830.04611897</real>
		<real>585724863.14725995</real>
	</array>
	<key>itemIdentifierVersion</key>
	<integer>5</integer>
	<key>lastAccessTimestamps</key>
	<dict>
		<key>ODLBBookmarkGroup:197BD0B1-6635-4CD0-B19B-F3FD97E71519</key>
		<integer>545797459</integer>
		<key>ODLBClipboardHistoryAction</key>
		<integer>546409823</integer>
		<key>ODLBEmojiCategory:EMFEmojiCategoryPeople</key>
		<integer>546999157</integer>
		<key>ODLBEmojiItem:👻</key>
		<integer>546999224</integer>
		<key>ODLBEmptyListItem:</key>
		<integer>583366453</integer>
		<key>ODLBOnePasswordCategory:001</key>
		<integer>584612269</integer>
		<key>ODLBOnePasswordItem:24famzjq6fe5ndt3xbtvrm35eq</key>
		<integer>584612272</integer>
		<key>ODLBPathItem:/Applications/1Password 6.app</key>
		<integer>546908911</integer>
		<key>ODLBPathItem:/Applications/1Password 7.app</key>
		<integer>585193423</integer>
		<key>ODLBPathItem:/Applications/App Store.app</key>
		<integer>583194663</integer>
		<key>ODLBPathItem:/Applications/Calculator.app</key>
		<integer>583726502</integer>
		<key>ODLBPathItem:/Applications/Calendar.app</key>
		<integer>583811678</integer>
		<key>ODLBPathItem:/Applications/Dash.app</key>
		<integer>584762184</integer>
		<key>ODLBPathItem:/Applications/Docker.app</key>
		<integer>585129286</integer>
		<key>ODLBPathItem:/Applications/Emacs.app</key>
		<integer>547438926</integer>
		<key>ODLBPathItem:/Applications/Google Chrome.app</key>
		<integer>585379409</integer>
		<key>ODLBPathItem:/Applications/Kaleidoscope.app</key>
		<integer>546495601</integer>
		<key>ODLBPathItem:/Applications/Mail.app</key>
		<integer>584437491</integer>
		<key>ODLBPathItem:/Applications/McAfee Endpoint Security for Mac.app</key>
		<integer>546751946</integer>
		<key>ODLBPathItem:/Applications/Messages.app</key>
		<integer>585215763</integer>
		<key>ODLBPathItem:/Applications/Microsoft Outlook.app</key>
		<integer>583989935</integer>
		<key>ODLBPathItem:/Applications/Microsoft Teams.app</key>
		<integer>583378739</integer>
		<key>ODLBPathItem:/Applications/OmniFocus.app</key>
		<integer>545894118</integer>
		<key>ODLBPathItem:/Applications/OmniGraffle.app</key>
		<integer>546817581</integer>
		<key>ODLBPathItem:/Applications/Rocket.app</key>
		<integer>583118697</integer>
		<key>ODLBPathItem:/Applications/Safari.app</key>
		<integer>546391192</integer>
		<key>ODLBPathItem:/Applications/Setapp.app</key>
		<integer>585724831</integer>
		<key>ODLBPathItem:/Applications/Setapp/IconJar.app</key>
		<integer>585201974</integer>
		<key>ODLBPathItem:/Applications/Setapp/Paste.app</key>
		<integer>583128627</integer>
		<key>ODLBPathItem:/Applications/Setapp/Sip.app</key>
		<integer>585724864</integer>
		<key>ODLBPathItem:/Applications/Setapp/Wallpaper Wizard.app</key>
		<integer>585381499</integer>
		<key>ODLBPathItem:/Applications/Siri.app</key>
		<integer>546130573</integer>
		<key>ODLBPathItem:/Applications/Sketch.app</key>
		<integer>585376002</integer>
		<key>ODLBPathItem:/Applications/Skype.app</key>
		<integer>585181663</integer>
		<key>ODLBPathItem:/Applications/Slack.app</key>
		<integer>585204603</integer>
		<key>ODLBPathItem:/Applications/Spark.app</key>
		<integer>548546983</integer>
		<key>ODLBPathItem:/Applications/Spillo.app</key>
		<integer>548213319</integer>
		<key>ODLBPathItem:/Applications/System Preferences.app</key>
		<integer>585181934</integer>
		<key>ODLBPathItem:/Applications/Things3.app</key>
		<integer>584348559</integer>
		<key>ODLBPathItem:/Applications/Tower.app</key>
		<integer>548135177</integer>
		<key>ODLBPathItem:/Applications/Tweetbot.app</key>
		<integer>583973538</integer>
		<key>ODLBPathItem:/Applications/Utilities/Activity Monitor.app</key>
		<integer>585202337</integer>
		<key>ODLBPathItem:/Applications/Utilities/Disk Utility.app</key>
		<integer>584348957</integer>
		<key>ODLBPathItem:/Applications/Utilities/Keychain Access.app</key>
		<integer>585183792</integer>
		<key>ODLBPathItem:/Applications/Visual Studio Code.app</key>
		<integer>548546782</integer>
		<key>ODLBPathItem:/Applications/Xcode-beta.app</key>
		<integer>583992505</integer>
		<key>ODLBPathItem:/Applications/Xcode.app</key>
		<integer>583813776</integer>
		<key>ODLBPathItem:/System/Library/CoreServices/Finder.app</key>
		<integer>583972817</integer>
		<key>ODLBPathItem:@</key>
		<integer>583366449</integer>
		<key>ODLBPathItem:~</key>
		<integer>584341477</integer>
		<key>ODLBPathItem:~/Documents/te_tests.pdf</key>
		<integer>583199397</integer>
		<key>ODLBRuleItem:ODLBEmojiRule</key>
		<integer>546999141</integer>
		<key>ODLBRuleItem:ODLBOnePasswordRule</key>
		<integer>584612264</integer>
		<key>ODLBSearchDictCCAction</key>
		<integer>545797452</integer>
		<key>ODLBSearchGoogleAction</key>
		<integer>583299429</integer>
		<key>ODLBServiceItem:com.apple.dt.Instruments - Activity Monitor</key>
		<integer>546142999</integer>
		<key>ODLBServiceItem:com.kapeli.dashdoc - Look Up in Dash</key>
		<integer>583286111</integer>
		<key>ODLBURLItem:https://translate.google.com/</key>
		<integer>547092587</integer>
	</dict>
	<key>objectHabits</key>
	<dict>
		<key>ODLBBookmarkGroup:197BD0B1-6635-4CD0-B19B-F3FD97E71519</key>
		<integer>1</integer>
		<key>ODLBClipboardHistoryAction</key>
		<integer>3</integer>
		<key>ODLBEmojiCategory:EMFEmojiCategoryPeople</key>
		<integer>1</integer>
		<key>ODLBEmojiItem:👻</key>
		<integer>6</integer>
		<key>ODLBEmptyListItem:</key>
		<integer>10</integer>
		<key>ODLBOnePasswordCategory:001</key>
		<integer>1</integer>
		<key>ODLBOnePasswordItem:24famzjq6fe5ndt3xbtvrm35eq</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/1Password 6.app</key>
		<integer>2</integer>
		<key>ODLBPathItem:/Applications/1Password 7.app</key>
		<integer>7</integer>
		<key>ODLBPathItem:/Applications/App Store.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Calculator.app</key>
		<integer>2</integer>
		<key>ODLBPathItem:/Applications/Calendar.app</key>
		<integer>3</integer>
		<key>ODLBPathItem:/Applications/Dash.app</key>
		<integer>12</integer>
		<key>ODLBPathItem:/Applications/Docker.app</key>
		<integer>2</integer>
		<key>ODLBPathItem:/Applications/Emacs.app</key>
		<integer>11</integer>
		<key>ODLBPathItem:/Applications/Google Chrome.app</key>
		<integer>23</integer>
		<key>ODLBPathItem:/Applications/Kaleidoscope.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Mail.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/McAfee Endpoint Security for Mac.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Messages.app</key>
		<integer>33</integer>
		<key>ODLBPathItem:/Applications/Microsoft Outlook.app</key>
		<integer>30</integer>
		<key>ODLBPathItem:/Applications/Microsoft Teams.app</key>
		<integer>9</integer>
		<key>ODLBPathItem:/Applications/OmniFocus.app</key>
		<integer>3</integer>
		<key>ODLBPathItem:/Applications/OmniGraffle.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Rocket.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Safari.app</key>
		<integer>2</integer>
		<key>ODLBPathItem:/Applications/Setapp.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Setapp/IconJar.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Setapp/Paste.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Setapp/Sip.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Setapp/Wallpaper Wizard.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Siri.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Sketch.app</key>
		<integer>2</integer>
		<key>ODLBPathItem:/Applications/Skype.app</key>
		<integer>17</integer>
		<key>ODLBPathItem:/Applications/Slack.app</key>
		<integer>20</integer>
		<key>ODLBPathItem:/Applications/Spark.app</key>
		<integer>19</integer>
		<key>ODLBPathItem:/Applications/Spillo.app</key>
		<integer>3</integer>
		<key>ODLBPathItem:/Applications/System Preferences.app</key>
		<integer>2</integer>
		<key>ODLBPathItem:/Applications/Things3.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Tower.app</key>
		<integer>7</integer>
		<key>ODLBPathItem:/Applications/Tweetbot.app</key>
		<integer>2</integer>
		<key>ODLBPathItem:/Applications/Utilities/Activity Monitor.app</key>
		<integer>12</integer>
		<key>ODLBPathItem:/Applications/Utilities/Disk Utility.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Utilities/Keychain Access.app</key>
		<integer>1</integer>
		<key>ODLBPathItem:/Applications/Visual Studio Code.app</key>
		<integer>3</integer>
		<key>ODLBPathItem:/Applications/Xcode-beta.app</key>
		<integer>18</integer>
		<key>ODLBPathItem:/Applications/Xcode.app</key>
		<integer>11</integer>
		<key>ODLBPathItem:/System/Library/CoreServices/Finder.app</key>
		<integer>7</integer>
		<key>ODLBPathItem:@</key>
		<integer>1</integer>
		<key>ODLBPathItem:~</key>
		<integer>3</integer>
		<key>ODLBPathItem:~/Documents/te_tests.pdf</key>
		<integer>1</integer>
		<key>ODLBRuleItem:ODLBEmojiRule</key>
		<integer>1</integer>
		<key>ODLBRuleItem:ODLBOnePasswordRule</key>
		<integer>5</integer>
		<key>ODLBSearchDictCCAction</key>
		<integer>1</integer>
		<key>ODLBSearchGoogleAction</key>
		<integer>3</integer>
		<key>ODLBServiceItem:com.apple.dt.Instruments - Activity Monitor</key>
		<integer>1</integer>
		<key>ODLBServiceItem:com.kapeli.dashdoc - Look Up in Dash</key>
		<integer>1</integer>
		<key>ODLBURLItem:https://translate.google.com/</key>
		<integer>1</integer>
	</dict>
	<key>preferredSendToTargets</key>
	<dict>
		<key>string</key>
		<array>
			<string>ODLBPathItem:@</string>
			<string>ODLBPathItem:/Applications/Google Chrome.app</string>
			<string>ODLBSearchGoogleAction</string>
		</array>
		<key>url</key>
		<array>
			<string>ODLBPathItem:/Applications/Safari.app</string>
		</array>
	</dict>
	<key>totalInvocationCount</key>
	<integer>319</integer>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
