<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>digest</key>
	<string>8607aae7c35091c4a51b23dcefe6b72c01b7722c</string>
	<key>licenseKey</key>
	<data>
	CQBiBVgtPXk3AxgHCAYuc0wMYyUFdFMwPyM9
	</data>
	<key>owner</key>
	<dict>
		<key>name</key>
		<string>Xiaoxing Hu</string>
	</dict>
</dict>
</plist>
