"*":
  "atom-beautify":
    _analyticsUserId: "46659b04-700e-423a-8d1b-0aea898bbdd4"
  "atom-material-ui":
    colors:
      abaseColor:
        red: 0
        green: 206
        blue: 221
        alpha: 1
    fonts: {}
    tabs:
      compactTabs: true
    treeView:
      compactList: true
    ui: {}
  core:
    disabledPackages: [
      "nvatom"
    ]
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    invisibles: {}
  "exception-reporting":
    userId: "37ecc0d7-b5c4-e745-6fa7-e3629ed32f38"
  linter:
    showErrorPanel: false
  "linter-rubocop": {}
  "markdown-preview":
    breakOnSingleNewline: true
  "markdown-preview-plus": {}
  minimap:
    scrollAnimation: true
  nvatom:
    directory: "~/notes"
  "one-dark-ui": {}
  typewriter: {}
  "vim-mode-plus":
    incrementalSearch: true
  "vim-surround": {}
  welcome:
    showOnStartup: false
"source.gfm":
  editor:
    softWrap: true
